/************************************
*            VARIABLES              *
************************************/
/************************************
*               MIXIN               *
************************************/
/************************************
*            KEYFRAMES              *
************************************/
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#menu-1 {
  animation-delay: 500ms;
}

#menu-2 {
  animation-delay: 1000ms;
}

#menu-3 {
  animation-delay: 1500ms;
}

/************************************
*             GENERAL               *
************************************/
* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  transition: none;
  outline: none;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 767px;
  font-family: "Roboto", sans-serif;
}

.loader {
  display: grid;
  height: 100vh;
  background-color: #ffffff;
  opacity: 0.9;
  position: fixed;
}

/************************************
*              HEADER               *
************************************/
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 63px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
.header__backhome {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  position: absolute;
  left: 23px;
}
.header__logo {
  height: 44px;
  width: 162px;
}

.image {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}

/************************************
*              MENU                 *
************************************/
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f7f7f7;
  width: 100%;
}
.menu__restaurant {
  width: 100%;
}
.menu__container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 25px 25px 0 0;
  background-color: #f7f7f7;
}
.menu__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 32px 41px 0 17px;
  bottom: 40px;
  gap: 30px;
  width: 100%;
  background-color: #f7f7f7;
  border-radius: 20px 20px 0 0;
}
.menu__title {
  font-family: "Shrikhand", cursive;
  font-size: 28px;
  font-weight: 400;
  margin: 0;
}
.menu__heart-icon {
  position: relative;
  width: 25px;
  height: 25px;
}
.menu__heart-icon:hover > .menu__empty {
  display: none;
}
.menu__empty, .menu__fav {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 25px;
}
.menu__fav {
  color: transparent;
  background: linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
          background-clip: text;
  opacity: 0;
  transition: all 1000ms ease-in-out;
}
.menu__fav:hover {
  opacity: 1;
  cursor: pointer;
}
.menu__flex {
  padding: 0 13px;
  gap: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.menu__flex__bloc {
  display: flex;
  flex-direction: column;
  gap: 12px;
  animation: opacity 1s both;
}
.menu__flex__title {
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  width: 40px;
  padding-bottom: 8px;
  border-bottom: 3px solid #99e2d0;
}
.menu__flex__article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
  padding: 0px;
  background: #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  height: 69px;
}
.menu__flex__article:hover .menu__validation {
  width: 59px;
}
.menu__flex__article:hover .fa-check-circle {
  opacity: 1;
}
.menu__validation {
  background: #99e2d0;
  color: #ffffff;
  border-radius: 0 15px 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0;
  height: 100%;
  transition: width 500ms ease-in-out;
}
.menu .fa-check-circle {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}
.menu__text {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  padding: 15px;
  gap: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__name {
  display: flex;
  flex-direction: column;
  gap: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__name__title {
  font-size: 18px;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__name__subtitle {
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__price {
  font-weight: 700;
  font-size: 18px;
  transition: transform 1s;
}
.menu__button {
  color: #ffffff;
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  height: 50px;
  border-radius: 25px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: 186px;
  margin: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__button:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  opacity: 85%;
}

/************************************
*              FOOTER               *
************************************/
.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #353535;
  color: #ffffff;
  padding: 22px 25px 16px 25px;
  gap: 16px;
}
.footer__container {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 0;
}
.footer__logo {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  font-weight: 400;
}
.footer__link {
  display: flex;
  gap: 11px;
  cursor: pointer;
}

/************************************
*           MEDIA QUERIES           *
************************************/
@media screen and (min-width: 768px) {
  body {
    max-width: 2560px;
  }
  .menu {
    background-color: #ffffff;
  }
  .menu__container {
    width: 75%;
  }
  .menu__header {
    justify-content: center;
  }
  .footer {
    flex-direction: row-reverse;
    align-items: center;
    padding-bottom: 30px;
    padding-top: 64px;
    padding-right: 50px;
  }
  .footer__container {
    flex-direction: row;
    gap: 30px;
    margin-right: 50px;
  }
}