/************************************
*            VARIABLES              *
************************************/
/************************************
*               MIXIN               *
************************************/
/************************************
*            KEYFRAMES              *
************************************/
@keyframes loader {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    inset: 0;
    visibility: hidden;
  }
}
/************************************
*             GENERAL               *
************************************/
* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  transition: none;
  outline: none;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 767px;
  font-family: "Roboto", sans-serif;
}

/************************************
*              LOADER               *
************************************/
.loader {
  position: fixed;
  background-color: #ffffff;
  inset: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: loader 3s ease both;
}

.progress {
  width: 134px;
  height: 24px;
  border-radius: 22px;
  color: #9356dc;
  border: 3px solid;
  position: relative;
}

.progress::before {
  content: "";
  position: absolute;
  margin: 2px;
  inset: 0 100% 0 0;
  border-radius: inherit;
  background: currentColor;
  animation: loader 3s infinite;
}

/************************************
*              HEADER               *
************************************/
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 63px;
  position: relative;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
.header__logo {
  height: 44px;
  width: 162px;
}

/************************************
*               INTRO               *
************************************/
.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: #f7f7f7;
  padding-bottom: 57px;
}
.intro__location {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  background-color: #eaeaea;
  width: 100%;
  height: 50px;
}
.intro__title {
  width: 74%;
  padding-top: 39.5px;
  padding-bottom: 15px;
  margin: 0;
  color: #353535;
}
.intro__subtitle {
  width: 84%;
  margin: 0;
  font-size: 18px;
}
.intro__button {
  color: #ffffff;
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  height: 50px;
  border-radius: 25px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 27px;
  width: 218px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro__button:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  opacity: 85%;
}

/************************************
*          FONCTIONNEMENT           *
************************************/
.process__title {
  padding: 48px 80px 26px 20px;
  margin: 0;
}
.process__steps {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0px 20px 68px 32.5px;
  gap: 25px;
}
.process__step {
  border: 1px;
  border-radius: 20px;
  background-color: #f7f7f7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  padding: 26px 10px 26px 34px;
  display: flex;
  align-items: center;
  font-weight: bold;
}
.process__step:hover > i {
  color: #9356dc;
}
.process__icon {
  color: #7e7e7e;
  margin-right: 25px;
}
.process__number {
  background-color: #9356dc;
  color: #ffffff;
  padding: 3px 8px 3px 8px;
  border-radius: 20px;
  margin-right: 10px;
  position: absolute;
  left: 20px;
  font-weight: 500;
}

/************************************
*           RESTAURANTS             *
************************************/
.restaurants {
  background-color: #f7f7f7;
}
.restaurants__title {
  padding: 54px 80px 30px 20px;
  margin: 0;
}
.restaurants__cards {
  display: flex;
  flex-direction: column;
  padding: 0 18px 66px 17px;
  gap: 20px;
}
.restaurants__card {
  display: flex;
  flex-direction: column;
  height: 251px;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
.restaurants__image {
  width: 100%;
  height: 174px;
  position: relative;
}
.restaurants__image > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.restaurants__new {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 13px;
  right: 12px;
  width: 80px;
  height: 29px;
  background: #99e2d0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  color: #008766;
  font-size: 14px;
}
.restaurants__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  color: #000000;
  height: 77px;
  border-radius: 0 0 15px 15px;
  padding: 16px 25px 12px 13px;
}
.restaurants__info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.restaurants__name {
  font-weight: 700;
  font-size: 18px;
}
.restaurants__city {
  font-size: 17px;
}
.restaurants__heart-icon {
  position: relative;
  width: 25px;
  height: 25px;
}
.restaurants__heart-icon:hover > .restaurants__empty {
  display: none;
}
.restaurants__empty, .restaurants__fav {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 25px;
}
.restaurants__fav {
  color: transparent;
  background: linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
          background-clip: text;
  opacity: 0;
  transition: all 1000ms ease-in-out;
}
.restaurants__fav:hover {
  opacity: 1;
}

/************************************
*              FOOTER               *
************************************/
.footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  color: #ffffff;
  padding: 22px 25px 16px 25px;
  gap: 16px;
}
.footer__container {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 0;
  margin: 0;
}
.footer__logo {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  font-weight: 400;
}
.footer__link {
  display: flex;
  gap: 11px;
  cursor: pointer;
}

/************************************
*           MEDIA QUERIES           *
************************************/
@media screen and (min-width: 768px) {
  body {
    max-width: 1024px;
  }
  .process {
    padding: 50px 80px;
  }
  .process__title {
    padding: 0 0 25px 0;
  }
  .process__step {
    width: 100%;
    position: relative;
  }
  .process__steps {
    flex-direction: row;
    padding: 0;
    gap: 37px;
  }
  .process__number {
    position: absolute;
    left: -12px;
  }
  .restaurants {
    padding: 0 80px;
  }
  .restaurants__title {
    padding: 30px 0 28px 0;
  }
  .restaurants__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 50px;
    -moz-column-gap: 100px;
         column-gap: 100px;
    padding: 0 0 30px 0;
  }
  .footer {
    flex-direction: row-reverse;
    align-items: center;
    padding-bottom: 30px;
    padding-top: 64px;
    padding-right: 50px;
  }
  .footer__container {
    flex-direction: row;
    gap: 30px;
    margin-right: 50px;
  }
}
@media screen and (min-width: 1025px) {
  body {
    max-width: 2560px;
  }
  .header {
    height: 96px;
  }
  .header__logo {
    width: 200px;
  }
  .intro {
    padding-bottom: 30px;
  }
  .intro__title {
    font-size: 40px;
    color: #000000;
    padding: 30px 0 18px 0;
  }
  .intro__subtitle {
    font-size: 18px;
  }
  .intro__button {
    margin: 18px 0 0 0;
  }
  .process {
    padding: 50px 180px;
  }
  .restaurants {
    padding: 0 180px;
  }
}