/************************************
*            VARIABLES              *
************************************/

$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$grey: #eaeaea;
$dark-grey: #353535;
$light-grey: #f7f7f7;
$middle-grey: #7e7e7e;
$white: #ffffff;
$green: #008766;
$black: #000000;

/************************************
*               MIXIN               *
************************************/

@mixin btn-gradiant {
  color: $white;
  background: linear-gradient(180deg, $secondary-color 0%, $primary-color 100%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  height: 50px;
  border-radius: 25px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

@mixin btn-gradiant-hvr {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  opacity: 85%;
}

@mixin btn-fav {
  color: transparent;
  background: linear-gradient($primary-color, $secondary-color);
  background-clip: text;
  opacity: 0;
  transition: all 1000ms ease-in-out;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/************************************
*            KEYFRAMES              *
************************************/

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#menu-1 {
  animation-delay: 500ms;
}

#menu-2 {
  animation-delay: 1000ms;
}

#menu-3 {
  animation-delay: 1500ms;
}

/************************************
*             GENERAL               *
************************************/

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  transition: none;
  outline: none;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 767px;
  font-family: "Roboto", sans-serif;
}

.loader {
  display: grid;
  height: 100vh;
  background-color: $white;
  opacity: 0.9;
  position: fixed;
}

/************************************
*              HEADER               *
************************************/

.header {
  @include flex-center;
  width: 100%;
  height: 63px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);

  &__backhome {
    width: 50px;
    height: 50px;
    @include flex-center;
    font-size: 20px;
    position: absolute;
    left: 23px;
  }

  &__logo {
    height: 44px;
    width: 162px;
  }
}

.image {
  width: 100%;
  height: 275px;
  object-fit: cover;
}

/************************************
*              MENU                 *
************************************/

.menu {
  @include flex-center;
  flex-direction: column;
  background-color: $light-grey;
  width: 100%;

  &__restaurant {
    width: 100%;
  }

  &__container {
    width: 100%;
    @include flex-center;
    flex-direction: column;
    border-radius: 25px 25px 0 0;
    background-color: $light-grey;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 32px 41px 0 17px;
    bottom: 40px;
    gap: 30px;
    width: 100%;
    background-color: $light-grey;
    border-radius: 20px 20px 0 0;
  }

  &__title {
    font-family: "Shrikhand", cursive;
    font-size: 28px;
    font-weight: 400;
    margin: 0;
  }

  &__heart-icon {
    position: relative;
    width: 25px;
    height: 25px;

    &:hover > .menu__empty {
      display: none;
    }
  }

  &__empty,
  &__fav {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 25px;
  }

  &__fav {
    @include btn-fav;

    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }

  &__flex {
    padding: 0 13px;
    gap: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;

    &__bloc {
      display: flex;
      flex-direction: column;
      gap: 12px;
      animation: opacity 1s both;
    }

    &__title {
      font-size: 16px;
      font-weight: 300;
      margin: 0;
      width: 40px;
      padding-bottom: 8px;
      border-bottom: 3px solid $tertiary-color;
    }

    &__article {
      @include flex-center;
      flex-direction: row;
      cursor: pointer;
      padding: 0px;
      background: $white;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
      border-radius: 15px;
      height: 69px;

      &:hover {
        .menu__validation {
          width: 59px;
        }

        .fa-check-circle {
          opacity: 1;
        }
      }
    }
  }

  &__validation {
    background: $tertiary-color;
    color: $white;
    border-radius: 0 15px 15px 0;
    @include flex-center;
    width: 0;
    height: 100%;
    transition: width 500ms ease-in-out;
  }

  .fa-check-circle {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
  }

  &__text {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    padding: 15px;
    gap: 8px;
    @include overflow;
  }

  &__name {
    display: flex;
    flex-direction: column;
    gap: 5px;
    @include overflow;

    &__title {
      font-size: 18px;
      font-weight: 700;
      @include overflow;
    }

    &__subtitle {
      font-size: 15px;
      @include overflow;
    }
  }

  &__price {
    font-weight: 700;
    font-size: 18px;
    transition: transform 1s;
  }

  &__button {
    @include btn-gradiant;
    width: 186px;
    margin: 40px 0;
    @include flex-center;

    &:hover {
      @include btn-gradiant-hvr;
    }
  }
}

/************************************
*              FOOTER               *
************************************/

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $dark-grey;
  color: $white;
  padding: 22px 25px 16px 25px;
  gap: 16px;

  &__container {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 0;
  }

  &__logo {
    font-family: "Shrikhand", cursive;
    font-size: 18px;
    font-weight: 400;
  }

  &__link {
    display: flex;
    gap: 11px;
    cursor: pointer;
  }
}

/************************************
*           MEDIA QUERIES           *
************************************/

@media screen and (min-width: 768px) {
  body {
    max-width: 2560px;
  }

  .menu {
    background-color: $white;

    &__container {
      width: 75%;
    }

    &__header {
      justify-content: center;
    }
  }

  .footer {
    flex-direction: row-reverse;
    align-items: center;
    padding-bottom: 30px;
    padding-top: 64px;
    padding-right: 50px;

    &__container {
      flex-direction: row;
      gap: 30px;
      margin-right: 50px;
    }
  }
}
