/*Variables*/

$primary-color: #9356dc;
$secondy-color: #ff79da;
$tertiary-color: #99e2d0;
$grey: #eaeaea;
$dark-grey: #353535;
$light-grey: #f7f7f7;

/*Mixin*/
@mixin btn-gradiant {
  color: white;
  background: linear-gradient(
    193.33deg,
    $primary-color -11.44%,
    $secondy-color 123.93%
  );
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  height: 50px;
  border-radius: 25px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  border: none;
}

@mixin btn-step {
}

/*Général*/

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 767px;
  font-family: "Roboto", sans-serif;
}

/*Header*/

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 63px;
  position: relative;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);

  &__logo {
    height: 44px;
    width: 162px;
  }
}

/*Intro*/

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: $light-grey;
  padding-bottom: 57px;

  &__location {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
    background-color: $grey;
    width: 100%;
    height: 50px;
  }

  &__title {
    width: 74%;
    padding-top: 39.5px;
    padding-bottom: 15px;
    margin: 0;
    color: $dark-grey;
  }

  &__subtitle {
    width: 84%;
    margin: 0;
  }

  &__button {
    @include btn-gradiant;
    margin-top: 27px;
    width: 218px;
  }
}

/*Fonctionnement*/

.process {
  height: 440px;

  &__title {
    padding: 48px 80px 26px 20px;
    margin: 0;
  }

  &__steps {
    display: flex;
    flex-direction: column;
  }
}
